body {
  font-family: "Roboto", sans-serif;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}

.header-logo {
  color: #2e2f42;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.header-logo-web {
  color: var(--iris, #4d5ae5);
}
.header-menu-item {
  color: var(--navyblue, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-menu-item:hover,
.header-menu-item:focus {
  color: var(--ocean, #404bbf);
}
.headet-contacts-list {
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.headet-contacts-list:hover,
.headet-contacts-list:focus {
  color: var(--ocean, #404bbf);
}
.effective-title {
  color: var(--white, #fff);

  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.effective-title-btn {
  color: var(--white, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.effective-title-btn:hover {
  border-radius: 4px;
  background: var(--ocean, #404bbf);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.info-item-logo {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.info-item-text {
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.doing-logo {
  color: var(--navyblue, #2e2f42);

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-name {
  color: var(--navyblue, #2e2f42);

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-job-title {
  color: var(--slate, #434455);

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-logo {
  color: var(--cloud, #f4f4fd);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo-web {
  color: var(--iris, #4d5ae5);
}
.footer-info {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.effective-section {
  background: var(--navyblue, #2e2f42);
}
.effective-title-btn {
  background: var(--iris, #4d5ae5);
}
.team {
  background: var(--cloud, #f4f4fd);
}
.footer {
  background: var(--navyblue, #2e2f42);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
